<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  <appSettings>
    <add key="Storage" value="InventoryService.Storage.InMemoryLib.InMemory, InventoryService.Storage.InMemoryLib" />
    <!--<add key="Storage" value="InventoryService.Storage.EsentLib.Esent, InventoryService.Storage.EsentLib" />-->
    <add key="ServerEndPoint" value="http://*:10080/" />
    <add key="EsentStoragePath" value="../" />
    <add key="ServerActorSystemName" value="InventoryServiceUI-Server" />
    <add key="RemoteActorAddress" value="akka.tcp://InventoryService-Server@occvm1.eastus.cloudapp.azure.com:10000/user/InventoryActor/NotificationsActor" />
  </appSettings>
  <connectionStrings>
  </connectionStrings>
  <akka>
    <hocon>
      <![CDATA[
akka {
    stdout-loglevel = DEBUG
    loglevel = DEBUG
    log-config-on-start = on
    actor {

        provider = "Akka.Remote.RemoteActorRefProvider, Akka.Remote"

        debug {
            #receive = on
            #autoreceive = on
            #lifecycle = on
            #event-stream = on
            unhandled = on
        }
    }

    remote {
    maximum-payload-bytes = 30000000 bytes
              #log-remote-lifecycle-events = DEBUG
              #log-received-messages = on
              #log-sent-messages = on
                helios.tcp {
                    port = 0
                    hostname = localhost
                    #log-remote-lifecycle-events = DEBUG
                    #log-received-messages = on
                    #log-sent-messages = on
                    message-frame-size =  30000000b
      send-buffer-size =  30000000b
      receive-buffer-size =  30000000b
      maximum-frame-size = 30000000b
                }
            }
}
      ]]>
    </hocon>
  </akka>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.1.0" newVersion="2.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>