<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  <appSettings>
    <add key="Storage" value="InventoryService.Storage.InMemory, InventoryService.Storage.InMemory" />
    <!--<add key="Storage" value="InventoryService.Storage.Esent, InventoryService.Storage.Esent" />-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>

  </connectionStrings>
  <akka>
    <hocon>
      <![CDATA[
akka {
    actor {
        serializers {
            wire = "Akka.Serialization.WireSerializer, Akka.Serialization.Wire"
        }
        
        serialization-bindings {
            "System.Object" = wire
        }

        provider = "Akka.Remote.RemoteActorRefProvider, Akka.Remote"
    
        debug {  
            receive = on 
            autoreceive = on
            lifecycle = on
            event-stream = on
            unhandled = on
        }
    }

    remote {
                helios.tcp {
                    port = 10000
                    hostname = 0.0.0.0
                    public-hostname = localhost
                }
            }
}
      ]]>
    </hocon>
  </akka>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>